# http://processors.wiki.ti.com/index.php/Source_control_with_CCS
\Debug
\Release
.xdchelp
.VC
.vc
.sdf
.db
.suo
\.config
\.launches
*.db
*.log
libs/piLibsExamples/example_01/bin/Win32/Debug/example_01.tlog/CL.command.1.tlog
*.tlog
libs/piLibsExamples/example_01/example_01_2013.vcxproj
*.pdb
libs/piLibsExamples/example_01/example_01_2013.vcxproj